<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>NBA Statistics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">
  </head>
  <body align="center">
    <form methods="POST">
      <div class="badge badge-info">
	X-AXIS:
	<select id="x">
      <option value="BMI" {% if x == 'BMI'%}selected=""{% endif %}>BMI</option>
      <option value="Height" {% if x == 'Height'%}selected=""{% endif %}>Height</option>
      <option value="Weight" {% if x == 'Weight'%}selected=""{% endif %}>Weight</option>
	</select>
      </div>
      <div class="badge badge-info rotateText">
	Y-AXIS:
	<select id="y">
          <option value="Offense" {% if x == 'Offense'%}selected=""{% endif %}>Points</option>
          <option value="Assists" {% if x == 'Assists'%}selected=""{% endif %}>Assists</option>
          <option value="Rebounds" {% if x == 'Rebounds'%}selected=""{% endif %}>Rebounds</option>
          <option value="Blocks" {% if x == 'Blocks'%}selected=""{% endif %}>Blocks</option>
          <option value="Steals" {% if x == 'Steals'%}selected=""{% endif %}>Steals</option>
	</select>
      </div>
    <!--
    <button type = "submit" class="btn btn-primary"> Submit </button>
    -->
    </form>
    <br>
    <h1>NBA Teams</h1>
    <h2>BMI vs Points</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width = "600" height = "600" id = "canvas" style = "border:1px solid black;">
      <text x="300" y="580" font-family="sans-serif" font-size="20px" fill="black">{{x}}</text>
      <text x="3" y="290" font-family="sans-serif" font-size="20px" fill="black">{{y}}</text>
      <line x1="70" y1="530" x2="570" y2="530" style="stroke:black;stroke-width:2" />
      <line x1="70" y1="530" x2="70" y2="30" style="stroke:black;stroke-width:2" />
    </svg>
    <br>
    <h2>BMI vs Points By Position</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width = "600" height = "600" id = "canvas2" style = "border:1px solid black;">
      <text x="300" y="580" font-family="sans-serif" font-size="20px" fill="black">{{x}}</text>
      <text x="3" y="290" font-family="sans-serif" font-size="20px" fill="black">{{y}}</text>
      <line x1="70" y1="530" x2="570" y2="530" style="stroke:black;stroke-width:2" />
      <line x1="70" y1="530" x2="70" y2="30" style="stroke:black;stroke-width:2" />
    </svg>
    <p style="color:black;">guards</p>
    <p style="color:red;">forwards</p>
    <p style="color:blue;">center</p>
    <script src = "https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src = "static/js/draw.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
